 Write a lambda function that takes a number and returns its square. Test it with the
number 5.

In [20]:
square=lambda x:x**2
square(5)

25

 Write a lambda function that takes two numbers and returns their product. Test it with the
numbers 4 and 5.

In [21]:
product=lambda x,y:x*y
product(4,5)

20

 Given a list of tuples where each tuple contains a name and age, use sorted and a
lambda function to sort the list by age. Example list: [(&quot;Alice&quot;, 30), (&quot;Bob&quot;, 25),
(&quot;Charlie&quot;, 35)].

In [22]:
sorted_list=[("Alice", 30), ("Bob", 25), ("Charlie", 35)]
sorted_list.sort(key=lambda x:x[1])
sorted_list

[('Bob', 25), ('Alice', 30), ('Charlie', 35)]

Write a lambda function that takes a string and returns it in uppercase. Test it with the
string &quot;hello world&quot;.

In [23]:
string=lambda x:x.upper()
string("hello world")

'HELLO WORLD'

Write a lambda function that takes a number and returns &quot;Even&quot; if the number is even,
and &quot;Odd&quot; if the number is odd. Test it with the number 3.

In [24]:
number=lambda x:"Even" if x%2==0 else "Odd"
number(3)

'Odd'

Write a function called greet that prints &quot;Hello, World!&quot;.

In [27]:
def greet():
  print("Hello, World!")
greet()

Hello, World!

Write a function called add that takes two parameters and prints their sum.
 Write a function called print_info that takes a name and an age as parameters and prints
them in the format &quot;Name: [name], Age: [age]&quot;.

In [31]:
def add(x,y):
  print(x+y)
add(2,3)
def print_info(name,age):
  print(f"Name: [{name}], Age: [{age}]")
print_info("Ali",22)

5
Name: [Ali], Age: [22]

Write a function called multiply that takes two numbers as parameters and returns their
product.
 Write a function called is_even that takes a number as a parameter and returns True if the
number is even and False if it is odd.

In [32]:
def multiply(x,y):
  return x*y
multiply(2,3)
def is_even(x):
  return x%2==0
is_even(3)

False

Write a function called outer_function that defines a variable inside it, then defines and
calls an inner function that prints the variable.
 Write a script to demonstrate the difference between local and global variables by
defining a global variable, modifying it inside a function, and printing it both inside and
outside the function.

In [36]:
def outer_function():
  x=5
  print(x)
  def inner_function():
    x=6
    print(x)
  inner_function()
outer_function()

5
6

Write a function called greet_person that takes a name as a parameter and prints &quot;Hello,
[name]&quot;. If no name is provided, it should default to &quot;Guest&quot;.
 Write a function called power that takes two numbers as parameters and returns the first
number raised to the power of the second number. If the second number is not provided,
it should default to 2.

In [37]:
def greet_person(name="Guest"):
  print(f"Hello, {name}")
greet_person("Ali")
greet_person()
def power(x,y=2):
  return x**y
power(2)

Hello, Ali
Hello, Guest

4

Write a function called describe_pet that takes two parameters: a pet&#39;s name and a pet&#39;s
type. Use positional arguments to call the function with &quot;Buddy&quot; and &quot;dog&quot;, and keyword
arguments to call the function with &quot;cat&quot; and &quot;Whiskers&quot;.
 Write a function called make_sandwich that takes three ingredients as parameters and
prints the sandwich&#39;s ingredients in the format &quot;Sandwich with [ingredient1],
[ingredient2], and [ingredient3]&quot;. Call the function using both positional and keyword
arguments.

In [38]:
def describe_pet(name,type):
  print(f"{name} is a {type}")
describe_pet("Buddy","dog")
describe_pet(name="cat",type="Whiskers")
def make_sandwich(ingredient1,ingredient2,ingredient3):
  print(f"Sandwich with {ingredient1}, {ingredient2}, and {ingredient3}")
make_sandwich("lettuce","tomato","bread")
make_sandwich(ingredient1="lettuce",ingredient2="tomato",ingredient3="bread")

Buddy is a dog
cat is a Whiskers
Sandwich with lettuce, tomato, and bread
Sandwich with lettuce, tomato, and bread

Write a function called sum_numbers that takes any number of numerical arguments and
returns their sum.
 Write a function called display_students that takes a course name and any number of
student names, and prints the course name followed by the list of student names.

In [44]:
def sum_numbers(*args):
  return sum(args)

def display_students(course_name,*args):
  print(course_name)
  print(args)

display_students("math",1,2,3,4,5)
sum_numbers(1,2,3,4,5)

math
(1, 2, 3, 4, 5)

15

Scenario: You have a list of tuples where each tuple contains a student&#39;s name and their
grades in three subjects.
o Example: students = [(&quot;Alice&quot;, [85, 90, 92]), (&quot;Bob&quot;, [78, 81, 85]), (&quot;Charlie&quot;,
[92, 88, 91])]

 Tasks:
1. Write a function to calculate the average grade for each student.

2. Write a function to find the student with the highest average grade.
3. Write a function to find the student with the lowest average grade.
4. Write a function to add a new student with their grades to the list.

In [50]:
list_of_tuples = [("Alice", [85, 90, 92]), ("Bob", [78, 81, 85]), ("Charlie", [92, 88, 91])]
def average_grade(grades):
  return sum(grades)/len(grades)
def highest_average_grade(list_of_tuples):
  highest_average=0
  for name,grades in list_of_tuples:
    if average_grade(grades)>highest_average:
      highest_average=average_grade(grades)
      highest_average_name=name
  return highest_average_name
def lowest_average_grade(list_of_tuples):
  lowest_average=100
  for name,grades in list_of_tuples:
    if average_grade(grades)<lowest_average:
      lowest_average=average_grade(grades)
      lowest_average_name=name
  return lowest_average_name

def add_new_student(list_of_tuples,name,grades):
  list_of_tuples.append((name,grades))
  return list_of_tuples
for name, grades in list_of_tuples:
    avg_grade = average_grade(grades)
    print(f"Average grade for {name}: {avg_grade}")
print(highest_average_grade(list_of_tuples))
print(lowest_average_grade(list_of_tuples))
print(add_new_student(list_of_tuples,"Ali",[85, 90, 92]))

Average grade for Alice: 89.0
Average grade for Bob: 81.33333333333333
Average grade for Charlie: 90.33333333333333
Charlie
Bob
[('Alice', [85, 90, 92]), ('Bob', [78, 81, 85]), ('Charlie', [92, 88, 91]), ('Ali', [85, 90, 92])]

 Scenario: You have a dictionary representing an inventory of products where the keys
are product names and the values are tuples containing the price and the stock quantity.
o Example: inventory = {&quot;apple&quot;: (0.5, 100), &quot;banana&quot;: (0.3, 150), &quot;orange&quot;: (0.7,
120)}
 Tasks:
1. Write a function to add a new product to the inventory.
2. Write a function to update the price and stock quantity of an existing product.
3. Write a function to calculate the total value of the inventory (price * quantity for each
product).
4. Write a function to find the product with the highest stock quantity.

In [53]:
inventory={"apple": (0.5, 100), "banana": (0.3, 150), "orange": (0.7, 120)}
def add_new_product(inventory,name,price,quantity):
  inventory[name]=(price,quantity)
  return inventory
def update_price_quantity(inventory,name,price,quantity):
  inventory[name]=(price,quantity)
  return inventory
def total_value_of_inventory(inventory):
  total_value=0
  for price,quantity in inventory.values():
    total_value+=price*quantity
  return total_value
def product_with_highest_stock_quantity(inventory):
  highest_stock_quantity=0
  for name,price_quantity in inventory.items():
    if price_quantity[1]>highest_stock_quantity:
      highest_stock_quantity=price_quantity[1]
      highest_stock_quantity_name=name
    return highest_stock_quantity_name
print(add_new_product(inventory,"kiwi",0.2,200))
print(update_price_quantity(inventory,"kiwi",0.25,250))
print(total_value_of_inventory(inventory))
print(product_with_highest_stock_quantity(inventory))

{'apple': (0.5, 100), 'banana': (0.3, 150), 'orange': (0.7, 120), 'kiwi': (0.2, 200)}
{'apple': (0.5, 100), 'banana': (0.3, 150), 'orange': (0.7, 120), 'kiwi': (0.25, 250)}
241.5
apple

Scenario: You have a list of dictionaries where each dictionary contains details of an
employee: their name, age, department, and salary.
o Example: employees = [{&quot;name&quot;: &quot;Alice&quot;, &quot;age&quot;: 30, &quot;department&quot;: &quot;HR&quot;,
&quot;salary&quot;: 50000}, {&quot;name&quot;: &quot;Bob&quot;, &quot;age&quot;: 25, &quot;department&quot;: &quot;IT&quot;, &quot;salary&quot;:
60000}, {&quot;name&quot;: &quot;Charlie&quot;, &quot;age&quot;: 35, &quot;department&quot;: &quot;Finance&quot;, &quot;salary&quot;:
55000}]
 Tasks:
1. Write a function to add a new employee to the list.
2. Write a function to remove an employee from the list by their name.
3. Write a function to find the average salary of employees in a specific department.
4. Write a function to find the employee with the highest salary.
5. Write a function to list all employees in a specific department.

In [55]:
employees=[{"name": "Alice", "age": 30, "department": "HR", "salary": 50000}, {"name": "Bob", "age": 25, "department": "IT", "salary": 60000}, {"name": "Charlie", "age": 35, "department": "Finance", "salary": 55000}]
def add_employee(employees,name,age,department,salary):
  employees.append({"name": name, "age": age, "department": department, "salary": salary})
  return employees
def remove_employee(employees,name):
  for employee in employees:
    if employee["name"]==name:
      employees.remove(employee)
  return employees
def avg_salary_of_employees(employees):
  total_salary=0
  for employee in employees:
    total_salary+=employee["salary"]
  return total_salary/len(employees)
def employee_with_highest_salary(employees):
  highest_salary=0
  for employee in employees:
    if employee["salary"]>highest_salary:
      highest_salary=employee["salary"]
      highest_salary_name=employee["name"]
      return highest_salary_name
def list_of_employees_with_specific_department(employees):
  for employee in employees:
    if employee["department"]=="HR":
      print(employee["name"])

print(add_employee(employees,"Ali",22,"HR",50000))
print(remove_employee(employees,"Ali"))
print(avg_salary_of_employees(employees))
print(employee_with_highest_salary(employees))

[{'name': 'Alice', 'age': 30, 'department': 'HR', 'salary': 50000}, {'name': 'Bob', 'age': 25, 'department': 'IT', 'salary': 60000}, {'name': 'Charlie', 'age': 35, 'department': 'Finance', 'salary': 55000}, {'name': 'Ali', 'age': 22, 'department': 'HR', 'salary': 50000}]
[{'name': 'Alice', 'age': 30, 'department': 'HR', 'salary': 50000}, {'name': 'Bob', 'age': 25, 'department': 'IT', 'salary': 60000}, {'name': 'Charlie', 'age': 35, 'department': 'Finance', 'salary': 55000}]
55000.0
Alice

 Scenario: You have a dictionary where the keys are genres and the values are lists of
tuples, each containing a book title and its author.
o Example: books = {&quot;Science Fiction&quot;: [(&quot;Dune&quot;, &quot;Frank Herbert&quot;),
(&quot;Neuromancer&quot;, &quot;William Gibson&quot;)], &quot;Fantasy&quot;: [(&quot;The Hobbit&quot;, &quot;J.R.R.
Tolkien&quot;), (&quot;Harry Potter&quot;, &quot;J.K. Rowling&quot;)]}

 Tasks:
1. Write a function to add a new book to a genre.

2. Write a function to remove a book from a genre.
3. Write a function to find all books by a specific author across all genres.
4. Write a function to list all books in a specific genre.
5. Write a function to count the total number of books in the collection.

In [57]:
books = {"Science Fiction": [("Dune", "Frank Herbert"), ("Neuromancer", "William Gibson")], "Fantasy": [("The Hobbit", "J.R.R. Tolkien"), ("Harry Potter", "J.K. Rowling")]}
def add_new_book(books,genre,title,author):
  books[genre].append((title,author))
  return books
def remove_book(books,genre,title):
  for book in books[genre]:
    if book[0]==title:
      books[genre].remove(book)
  return books
def all_books_by_specific_author(books,author):
  for genre,books_list in books.items():
    for book in books_list:
      if book[1]==author:
        print(book[0])
        print(genre)
def list_of_books_in_specific_genre(books,genre):
  for book in books[genre]:
    print(book[0])
    print(book[1])
def total_number_of_books(books):
  total_books=0
  for genre,books_list in books.items():
    total_books+=len(books_list)
  return total_books
print(add_new_book(books,"Science Fiction","The Martian","Andy Weir"))
print(remove_book(books,"Science Fiction","The Martian"))
print(all_books_by_specific_author(books,"Frank Herbert"))
print(list_of_books_in_specific_genre(books,"Science Fiction"))
print(total_number_of_books(books))

{'Science Fiction': [('Dune', 'Frank Herbert'), ('Neuromancer', 'William Gibson'), ('The Martian', 'Andy Weir')], 'Fantasy': [('The Hobbit', 'J.R.R. Tolkien'), ('Harry Potter', 'J.K. Rowling')]}
{'Science Fiction': [('Dune', 'Frank Herbert'), ('Neuromancer', 'William Gibson')], 'Fantasy': [('The Hobbit', 'J.R.R. Tolkien'), ('Harry Potter', 'J.K. Rowling')]}
Dune
Science Fiction
None
Dune
Frank Herbert
Neuromancer
William Gibson
None
4

Scenario: You have a dictionary where the keys are movie titles and the values are lists
of tuples, each containing a reviewer&#39;s name and their rating for the movie.
o Example: movies = {&quot;Inception&quot;: [(&quot;Alice&quot;, 9), (&quot;Bob&quot;, 8)], &quot;Titanic&quot;: [(&quot;Alice&quot;,
7), (&quot;Charlie&quot;, 8)]}

 Tasks:
1. Write a function to add a new rating for a movie.
2. Write a function to update an existing rating for a movie.
3. Write a function to calculate the average rating for a movie.
4. Write a function to find the movie with the highest average rating.
5. Write a function to list all movies reviewed by a specific reviewer.

In [62]:
movies = {"Inception": [("Alice", 9), ("Bob", 8)], "Titanic": [("Alice", 7), ("Charlie", 8)]}
def add_new_rating(movies,title,reviewer,rating):
  movies[title].append((reviewer,rating))
  return movies
def update_existing_rating(movies,title,reviewer,rating):
  for movie in movies[title]:
    if movie[0]==reviewer:
      movie[1]=rating
      return movies
def average_rating(movies,title):
  total_rating=0
  for movie in movies[title]:
    total_rating+=movie[1]
  return total_rating/len(movies[title])
def movie_with_highest_average_rating(movies):
  highest_average=0
  for title,ratings in movies.items():
    if average_rating(movies,title)>highest_average:
      highest_average=average_rating(movies,title)
      highest_average_title=title
  return highest_average_title

def list_of_movies_reviewed_by_specific_reviewer(movies,reviewer):
  for title,ratings in movies.items():
    for rating in ratings:
      if rating[0]==reviewer:
        print(title)
print(add_new_rating(movies,"Inception","Ali",10))
print(update_existing_rating(movies,"Inception","Ali",9))
print(average_rating(movies,"Inception"))
print(movie_with_highest_average_rating(movies))
print(list_of_movies_reviewed_by_specific_reviewer(movies,"Alice"))

{'Inception': [('Alice', 9), ('Bob', 8), ('Ali', 10)], 'Titanic': [('Alice', 7), ('Charlie', 8)]}

TypeError: 'tuple' object does not support item assignment